/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
:root {
  --color-primary: #0b132b;
  --color-primary-light: #004E89;
  --color-grey-light: #f5fbef;
  --color-grey-dark: #1a1c20;
  --color-border-primary: #ced1df;
  --color-error: #ff3333; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

button:focus {
  outline: 0 !important; }

button, a {
  cursor: pointer;
  border: none;
  background: none; }

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-dark);
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
  background: var(--color-grey-light); }

.container {
  display: grid;
  grid-template-rows: 8rem repeat(2, min-content);
  max-width: 112rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 6rem;
  gap: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .container {
      gap: 5rem; } }
  @media only screen and (max-width: 48em) {
    .container {
      gap: 4rem; } }

main {
  display: flex;
  flex-direction: column;
  gap: 10rem; }

.heading-jumbo, .heading-1, .heading-3, .heading-4 {
  font-weight: 500; }

.heading-jumbo {
  font-size: 7rem;
  line-height: 1.5; }
  @media only screen and (max-width: 56.25em) {
    .heading-jumbo {
      font-size: 6rem; } }
  @media only screen and (max-width: 48em) {
    .heading-jumbo {
      font-size: 4rem; } }

.heading-1 {
  font-size: 2.5rem;
  line-height: 1; }
  @media only screen and (max-width: 56.25em) {
    .heading-1 {
      font-size: 2rem; } }

.heading-3 {
  font-size: 3.2rem;
  color: var(--color-primary);
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: var(--color-grey-light); }
  .heading-4--dark {
    color: var(--color-grey-dark); }

.paragraph-light {
  margin-bottom: 1rem;
  color: var(--color-primary-light);
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300; }

.paragraph-light {
  font-size: 2.5rem;
  line-height: 3.9rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph-light {
      font-size: 2rem; } }

.typing {
  width: 13ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  line-height: 1; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.text-mark {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: .6rem 88%;
  transition: background-size 0.25s ease-in; }

.hide {
  display: none !important; }

.w-middle {
  width: 50%; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn-grad {
  background-color: var(--color-primary); }

.btn-grad {
  background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary-light) 51%, var(--color-primary) 100%);
  color: var(--color-grey-light);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: .4rem;
  padding: 1.6rem 2.5rem 1.2rem;
  background-position: center;
  text-transform: uppercase;
  transition: background-color 775ms,opacity .4s,color .4s;
  background-size: 200% auto;
  box-shadow: 0 0 2rem #eee;
  font-weight: bold; }
  .btn-grad:hover {
    background-position: right center; }
  .btn-grad:active {
    box-shadow: 0 3px 0 #00823f;
    top: 3px; }

.header .link {
  color: #00308F;
  padding: 0 0 0.3em 0;
  position: relative;
  transition: color 0.25s ease-in-out;
  text-decoration: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-grey-light); }
  .header img {
    block-size: 4.5rem;
    vertical-align: middle;
    cursor: pointer; }
    @media only screen and (max-width: 48em) {
      .header img {
        block-size: 2.5rem; } }
  .header .nav {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 1.5rem; }
    .header .nav ul {
      list-style-type: none; }
    .header .nav__list {
      display: flex;
      gap: 1.5rem; }
      @media only screen and (max-width: 48em) {
        .header .nav__list {
          display: none; } }
    .header .nav__list-item {
      counter-increment: item 1; }
    .header .nav svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-primary); }
  .header .link--nav {
    font-weight: 500; }
    .header .link--nav:hover:after {
      width: 100%;
      left: 0; }
    .header .link--nav::before {
      content: "0" counter(item) ".";
      margin-right: 5px;
      color: var(--color-primary-light);
      font-size: 12px;
      text-align: right; }
    .header .link--nav::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--color-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }

.about {
  display: flex;
  gap: 5rem; }
  @media only screen and (max-width: 48em) {
    .about {
      gap: unset; } }
  .about__left {
    min-inline-size: 45rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    @media only screen and (max-width: 48em) {
      .about__left {
        min-inline-size: unset; } }
  @media only screen and (max-width: 48em) {
    .about__photo {
      display: none; } }
  .about__photo img {
    max-width: 25rem;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 1px var(--color-primary-light); }
  .about__download {
    align-self: flex-start;
    text-decoration: none; }

.stack {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .stack {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem; } }
  .stack__caption {
    flex: 1; }
    @media only screen and (max-width: 56.25em) {
      .stack__caption {
        align-self: center; } }
  .stack__stack {
    display: flex;
    flex-direction: column;
    inline-size: 60%;
    gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .stack__stack {
        inline-size: 100%; } }
  .stack__route {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500; }
  .stack__icon-air {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    justify-self: center; }
  .stack__services {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; }
  .stack__service-name {
    border: 1px solid var(--color-border-primary);
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 8px; }

.projects__caption {
  text-align: center; }

.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem; }

.card {
  outline: 1px solid grey;
  height: 30rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card__header {
    display: flex;
    justify-content: flex-end; }
  .card__content {
    display: flex;
    flex-direction: column; }
  .card__title {
    font-weight: bold; }
  .card__body {
    margin-top: 1rem; }
  .card__footer {
    display: flex; }
    .card__footer ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      color: grey;
      font-weight: 500; }

.footer {
  min-height: 10rem; }
  .footer__caption {
    text-align: center; }

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  align-items: center; }
  .form .form__group {
    display: flex;
    flex-direction: column;
    width: 65rem; }
  .form__input {
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 300;
    color: var(--color-grey-dark);
    padding: 1.2rem 2rem;
    border-radius: 4px;
    background-color: var(--color-grey-light);
    border: 1px solid var(--color-border-primary);
    border-bottom: 3px solid var(--color-border-primary);
    display: block;
    transition: all 0.3s; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid var(--color-primary); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-error); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-grey-dark); }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form textarea {
    height: 20rem;
    overflow-y: auto;
    resize: none; }
