.about {
  display: flex;
  gap: 5rem;

  @include respond(phone) {
    gap: unset;
  }

  &__left {
    min-inline-size: 45rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include respond(phone) {
      min-inline-size: unset;
    }
  }

  &__photo {
    @include respond(phone) {
      display: none;
    }

    img {
      max-width: 25rem;
      border-radius: 5px;
      box-shadow: 6px 6px 10px 1px var(--color-primary-light);
    }
  }

  button {
    align-self: flex-start;
  }
}
