:root {
  --color-primary: #0b132b;
  --color-primary-light: #004E89;

  --color-grey-light: #f5fbef;

  --color-grey-dark: #1a1c20;

  --color-border-primary: #ced1df;
}

// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    scroll-behavior: smooth;

    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}


button:focus {
  outline: 0 !important;
}

button, a {
  cursor: pointer;
  border: none;
  background: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

body {
  font-family: $font-primary;
  color: var(--color-grey-dark);
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
  background: var(--color-grey-light);
}

.container {
  display: grid;
  grid-template-rows: 8rem repeat(2, min-content);
  max-width: 112rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 6rem;
}

main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}