.projects {

  &__caption {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }
}

.card {
  outline: 1px solid grey;
  height: 30rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  &__body {
    margin-top: 1rem;
  }

  &__footer {
    display: flex;

    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      color:grey;
      font-weight: 500;
    }
  }
}