.projects {

  &__caption {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }
}

.card {
  outline: 1px solid grey;
  height: 30rem;
  font-size: 3rem;

  &__side {
    overflow: hidden;
    padding: 2rem;

    &--front {
      background-color: var(--color-grey-light);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
}