.projects {

  &__caption {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}

.card {
  outline: 1px solid grey;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  font-size: 3.5rem;

  &__side {
    height: 35rem;
    border-radius: .3rem;
    transition: all .8s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#0b132b, .15);
    padding: 2rem;

    &--front {
      background-color: var(--color-grey-light);
    }

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}