.stack {
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  &__caption {
    flex: 1;

    @include respond(tab-port) {
      align-self: center;
    }
  }

  &__stack {
    display: grid;
    inline-size: 60%;
    grid-template-columns: 10rem 1fr;
    column-gap: 1rem;
    row-gap: 3rem;

    @include respond(tab-port) {
      inline-size: 100%;
    }
  }


  &__route {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__icon-air{
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    justify-self: center;
  }

  &__services {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__service-name {
    border: 1px solid var(--color-border-primary);
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 8px;
  }
}