.about(id="about")
  .about__left
    h1.heading-jumbo.typing Hola Mundo...
    p.paragraph-light
      | Soy
      span.heading-1  Francisco J. López,
      span.heading-1.text-mark  Frontend Developer
      |  desde el año 2016, fascinado por la magía que hay detrás del código y lo que se puede construir con él, intento poner lo mejor de mí en cada linea, agregando simplicidad y mejora continua.

    a.about__download.btn-grad(
      href="../img/curriculum.pdf"
      alt="Curriculum"
      download="curriculum.pdf"
    ) Descargar CV

  .about__right
    .about__photo
      img(src="../img/profile.png" alt="profile")