header.header
  img(src='../img/logo.svg' alt='logo')
  nav.nav
    ul.nav__list
      li.nav__list-item
        a.link.link--nav(href='#stack') Stack
      li.nav__list-item
        a.link.link--nav(href='#projects') Proyectos
      li.nav__list-item
        a.link.link--nav(href='#contact') Contacto
    button
      svg.hide
        use(xlink:href="../img/sprite.svg#moon")
    button
      svg
        use(xlink:href="../img/sprite.svg#sun")