.projects(id="projects")
  h2.heading-3.projects__caption Proyectos
  .projects__cards
    .card
      .card__header
        a github
      .card__content
        .card__title Fake Store API
        .card__body Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .card__footer
        ul
          li React /
          li Hooks /
          li Async-Await

    .card
      .card__header
        a github
      .card__content
        .card__title Fake Store API
        .card__body Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .card__footer
        ul
          li React /
          li Hooks /
          li Async-Await

    .card
      .card__header
        a github
      .card__content
        .card__title Fake Store API
        .card__body Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .card__footer
        ul
          li React /
          li Hooks /
          li Async-Await