.stack(id="stack")
  h2.heading-3.stack__caption Stack

  .stack__stack
    .stack__services
      button.stack__service-name Html
      button.stack__service-name Semantic Html
      button.stack__service-name Accessibility
      button.stack__service-name SEO
      button.stack__service-name PUG

    .stack__services
      button.stack__service-name Css
      button.stack__service-name Responsign Design
      button.stack__service-name Flexbox
      button.stack__service-name Grid Layout
      button.stack__service-name Preprocessors
      button.stack__service-name Tailwind

    .stack__services
      button.stack__service-name JavaScript
      button.stack__service-name TypeScript
      button.stack__service-name Vue
        button.stack__service-name React